/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display:flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    background-color:black;
    color: #fff;
  
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar a {
   text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar a:hover {
    background: linear-gradient(45deg, #7e8bff, #ff758c);
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 118, 155, 0.4);
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}


.hero h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

/* Products Section */
.products {
    padding: 2rem;
    text-align: center;
}

.products h2 {
    margin-bottom: 1rem;
}

.product-list 
 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 products per row */
    gap: 10px; /* space between items */
  }


.product {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    width: 300px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: 50%;
    margin-bottom: 0.4rem;
}

.color-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }

  .color-black { background-color: black; }
  .color-grey{ background-color: grey; }
  .color-white { background-color: white; border: 1px solid #000; }
  .color-lightseagreen { background-color: lightseagreen; }


.product button {
    background-color: #333;
    color: #fff;
    border: 5px ridge green;
    padding: 0.5rem 2rem;
   
}

.product button:hover {
    background-color: #555;
}

/* Footer */
.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

